// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome.scss";



@-webkit-keyframes animationFrames {
    0%, 40%, 70%, to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    25% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    55% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
    90% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}

@keyframes animationFrames {
    0%, 40%, 70%, to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    25% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    55% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
    90% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}

.section-item{
    display: flex;
    align-items: center;
    color: #ffffff;
    min-height: 400px;
    border-bottom: 3px solid #ffc800;
}
.section-ul-item{
    font-size: 15pt;
}

.section-bg{
    background: linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.4)), url(/img/y-job-background.jpg);
    background-position: center;
    background-size: 100%;
}
.main-title{
    margin-top: 15%;
    margin-bottom: 10%;
}
.section-2{
    text-align: center;
    font-size: 17pt;
    padding: 35px 0;
    color: hsla(0,0%,42%,.24);
    border-bottom: 3px solid #ffc800;
    font-weight: 600;
    background: #081525;
    box-shadow: 0 4px 8px -3px #000;
}
.section-2-items{
    color: #fcc800;
}
.section-2-items span{
    margin: 0px 10px;
}
.section-3{
    background: linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.4)), url(/img/section-3-bg.jpg);
    background-position: center;
    background-size: cover;
}
.section-3-items{
    color: #ffffff;
}
.title-item{
    font-size: 18pt;
    font-weight: 700;
}
.list-item{
    font-size: 14pt;
    padding: 0 15px!important;
}
.list-item li{
   color: #fcc800;
}
.list-item li p{
    color: #ffffff;
}
.border-item{
    border-right: 1px solid;
}
.border-item:last-child {
    border: none;
}
.action-button {
    min-width: 70px;
}

.subpage-btn {
    padding: 0 5px 0 7px;
    color: #ffc800;

    &:focus, &:active {
        outline: none;
        border: none;
        box-shadow: none;
    }
}

.color-black {
    color: #ffc800!important;
    font-size: 13pt;

    &:hover {
        text-decoration: underline;
        transition: 0.4s;
    }
}

.admin-menu {
    background: #343a40;
    border: 1px solid #fcc800;
    box-shadow: 0px 0px 1px #fcc800;
    padding: 0;
}
.check{
    font-size: 25pt;
    color: green;
}
.navbar {
    max-width: 1175px;
    margin: 0 auto;
    border-bottom: 1px solid #63666f;
    box-shadow: none;
    background: transparent !important;
}
.nav-center{
    margin-top: 5px;
}
.navbar-brand{
    padding: 0;
    display: block;
    width: 220px;
    height: 53px;
    background: transparent url(/img/logo.png) no-repeat scroll 0 0/80%;
}
.navbar-nav{
    align-items: baseline;
}
img{
    max-width: 100%;
    height: auto;
}
.scrolled {
    position: fixed;
    top: 0;
    height: fit-content !important;
    z-index: 16;
    width: 100%;
    left: 0;
    background: #ffffff !important;
    padding: 10px 0px 10px 0 !important;
    border-bottom: 1px solid #ccc !important;
    max-width: 100% !important;
    animation: animationFrames linear 0.8s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 0.8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 0.8s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 0.8s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 0.8s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
}

.admin-menu-item {
    font-size: 16pt;
    border-bottom: 1px solid #fcc800;
    text-align: center;
    padding: 10px 0;
}

.admin-menu-item a {
    color: #fcc800;
    font-size: 16pt;

    &:hover {
        color: #ffffff;
        text-decoration: none;
        transition: 0.4s;
    }
}
.article-inner-image{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
.back{
    font-size: 20px;
    color: black;
    font-weight: 600;
    &:hover{
        text-decoration: none;
        color: #fcc800;
        transition: 0.4s;
    }
}
.post {
    padding: 30px 20px;
    border: 1px solid #fcc800;
    box-shadow: 0px 0px 6px #fcc800;
    background: white;
}
.success-alert{
    text-align: center;
    color: #1d6f1c;
    background-color: #4bff0080;
    border-color: #33ff00;
    //box-shadow: 0px 0px 4px lime;
}
#contact-btn {
    border-radius: 35px;
    width: 100%;
}

.contact-btn {
    border-radius: 35px;
    min-width: 100px;
}

.modal-header,
.modal-footer {
    border: none;
    justify-content: center;
}
.form-number{
    font-size: 25pt;
}
.modal-content{
    text-align: center;
}
.form-wrap-item{
    width: 100%;
    padding: 5px;
    border-bottom: 2px solid #a9a9a9!important;
    outline: 0;
    &:focus,
    &:active{
        border-bottom: 2px solid #ffc800 !important;
        transition: 0.4s;
        box-shadow: none;
    }
}

.inner {
    border: 2px solid lightgray;
    box-shadow: 0px 0px 5px darkgrey;
}

#scrolled-nav {
    position: fixed;
    z-index: 20;
    width: 100%;
    transition: height .5s, line-height .5s;
    -webkit-transition: height .5s, line-height .5s;
    -moz-transition: height .5s, line-height .5s;
    right: 0;
    left: 0;
}

.warning {
    color: red;
}

.admin-table {
    font-size: 12pt;
}

.subpage-table {
    padding: 0 0 0 20px;
}

.table {
    border: 1px solid #a9a9a978;
    background: #ffffff;
}

.table th, .table td {
    border-top: 1px solid #a9a9a978;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: #ffc800!important;
    font-size: 13pt;
    padding: 8px 0;

    &:hover {
        color: black;
        text-decoration: underline;
        transition: 0.4s;
    }
    i{
        font-size: 16px;
    }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
.fade{
    transition: 0.3s;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin-top: 5px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
//.dropdown:hover .dropbtn {background-color: #3e8e41;}

.green-btn{
    background: #9dcd0a none repeat scroll 0 0;
    border-radius: 35px;
    color: #fff!important;
    padding: 10px 25px!important;
    border: none;
}
.section-8{
    background: #00070e;
    padding: 35px 0;
    color: #fff;
}
.section-8-title{
    font-size: 40pt;
    font-weight: 500;
}
.section-8-subtitle{
    font-size: 22pt;
    font-weight: 400;
    line-height: 60px;
}
.contact-item{
    line-height: 30px;
    font-size: 14pt;
    font-weight: 500;
}
.contact-email a{
    color:gold !important;
}
.contact-email a:hover{
    text-decoration: none;
}
.modal-phone{
    color: black;
    &:hover{
        text-decoration: none;
        color: black;
    }
}
.facebook{
    background-image: url("/img/facebook.svg");
}
.social-icon{
    background-size: contain!important;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-top: .4rem;
}

.socials{
    text-align: right;
}
.policies{
    font-size: 11pt;
}
.policies a{
    margin-right: 20px;
    color: gold !important;
    cursor: pointer;
}
.error-message{
    margin-top: 3px;
    color: red;
}
.policies a:hover{
    text-decoration: none;
}
.phone{
    margin-top: 30px;
    font-size: 30pt;
    font-weight: 500;
}
.phone a{
    color: #ffffff;
}
.phone a:hover{
    text-decoration:none;
}
.phone-icon{

    background-image: url('/img/phone.svg');
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
    padding: 16px 16px;
    background-repeat: round;
}
.messenger{
    display: inline-block;
}
.viber{
    background-image: url('/img/viber.svg');
    padding: 18px 18px;
    margin-left: 10px;
}
.telegram{
    background-image: url('/img/telegram.svg');
    padding: 18px 18px;
}
.whatsapp{
    background-image: url('/img/whatsapp.svg');
    padding: 18px 18px;
}
.fb-mes{
    background-image: url('/img/fb-mes.svg');
    padding: 18px 18px;
}
.icon{
    box-sizing: border-box;
    display: inline-block;
    background-repeat: round;
}
.footer-btn{
    margin-top: 30px;
    border-radius: 30px;
    background: gold;
    color: #000c19;
    font-weight: 900;
    border: 2px solid gold;
    padding: 7px 12px;
    width: 150px !important;
}
.rights{
    font-size: 10pt;
    color: lightgray;
}
.margin-footer{
    margin-top: 35px
}
.img-block{
    margin-top: 35px;
}
.img-block img{
    width: 80%;
    float: right;
    max-height: 350px;
}
.footer-img{
    max-width: 100%;
}
.mobile{
    display: none;
}
.text-item-color{
    color: #777777;
    font-size: 14px;
}
.blog-title{
    text-align: left;
    font-size: 18pt;
    color: black;
    a{
        text-decoration: none;
        color: black;
    }
    &:hover a{
        color: #fcc800;
        transition: 0.4s;
    }
}
.outline-none{
    outline: none !important;
    box-shadow: none;
    border: none;
}
.search-bg{
    background: #efefef !important;
}
.search-input{
    width: 100%;
    font-size: 15px;
}
.search-item{
    width: 97%;
}
.tag-button{
    color: #000;
    background-color: #ffffff;
    border: 2px solid #d4d4d4;
    font-weight: 800;
    border-radius: 35px;
    padding: 5px 25px;
    font-size: 15px;
    &:hover{
        text-decoration: none;
        background: #000000;
        border: 2px solid #000000;
        transition: 0.4s;
        color: #ffffff;
    }
}
button.active{
    text-decoration: none;
    background: #000000;
    border: 2px solid #000000;
    color: #ffffff;
}
.blog-image{
    height: 260px;
    width: 370px;
    object-fit: cover;
}
.load-more{
    background: #fcc800;
    border-color: transparent;
    border-radius: 45px;
    padding: 5px 40px;
    font-weight: 600;
    font-size: 14px;
}

@media (max-width: 768px) {
    .not-mobile{
        display:none;
    }
    .navbar-brand{
        display: inline-block;
    }
    .mob-menu{
        float: right;
        margin-top: 10px;
    }
    #scrolled-nav{
        position: absolute;
    }
    .navbar{
        background: #ffffff !important;
    }
    .navbar-nav{
        align-items: end;
    }
    .nav-link{
        padding: 8px 0;
    }
    .section-8{
        text-align: center;
    }
    .socials{
        text-align: center;
    }
    .btn-group{
        display: block;
    }
    .blog-title{
        text-align: center;
    }
    .description-font{
        text-align: justify;
    }
    .search-item{
        width: 90%;
    }
}
@media (max-width: 350px) {
    .navbar-brand{
        width: 80%;
    }
    .mob-menu{
        padding: 0;
    }
}
